/best_model_baseline.pkl
/best_model_tuned.pkl
/best_pipeline_baseline.pkl
/decision_tree_baseline.pkl
/decision_tree_pipeline.pkl
/gradient_boosting_baseline.pkl
/gradient_boosting_pipeline.pkl
/k-nearest_neighbors_baseline.pkl
/k-nearest_neighbors_pipeline.pkl
/logistic_regression_baseline.pkl
/logistic_regression_pipeline.pkl
/logistic_regression_tuned.pkl
/random_forest_baseline.pkl
/random_forest_pipeline.pkl
/random_forest_tuned.pkl
/svm_baseline.pkl
/svm_pipeline.pkl
/svm_tuned.pkl
